<% if @category.photo.attached? %>
  <%= cl_image_tag @category.photo.key, height: 300, width: 400, crop: :fill  %>
<% else %>
  <%= image_tag "https://img.delicious.com.au/bQjDG77i/del/2021/07/spiced-peanut-butter-and-honey-pancakes-with-blackberry-cream-155151-2.jpg" %>
<% end %>



<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h2>Recipes</h2>

      <%= link_to "Add a new Recipe", new_category_bookmark_path(@category) %>
  </div>
  <div class="card-container">
    <% @category.bookmarks.each do |bookmark| %>
      <li>
        <h2><%= bookmark.recipe.name %> </h2> | <%= link_to "delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "are you sure?" } %>
        <p><%= bookmark.recipe.description %></p> |
        <p><%= bookmark.recipe.rating %></p> | <%= bookmark.recipe.rating %>
        <p><%= bookmark.comment %></p> |
      </li>
    <% end %>
  </div>
</div>
